{% extends './layout/ui-base.twig' %}

{% block content %}
      <div class="swiper-container is-invisible" id="contact-slider">

        <div class="swiper-wrapper">




          <div class="swiper-slide contact-info all-contact-infos" >
            <div class="inner">
              <div class="main-infos">
                <h2>Email</h2>
                <ul class="contact-infos">
                  <li><a href="mailto:info@retaniconsults.com">info@retaniconsults.com</a></li>
                  <li><a href="mailto:support@retaniconsults.com">support@retaniconsults.com</a></li>
                </ul>
                <h2>Phone</h2>
                <p>
                  +2348162985504
                </p>

              </div>
              <div class="socials-wrapper">
                <h2>Socials</h2>
                <ul class="socials">
                  <li><a href="http://facebook.com">Facebook</a></li>
                  <li><a href="http://linkedin.com">LinkedIn</a></li>
                  <li><a href="http://twitter.com">Twitter</a></li>
                  <li><a href="http://instagram.com">Instagram</a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
        <!-- /.swiper-wrapper -->

        <a class="scroll-to-beginning"><i class="icon-arrows-slim-left"></i></a>
      </div>
      <!-- /.swiper-container -->

    </div>

{% endblock %}